{{>head}}
    <div class="main-content">
        {{>header}}
        <p>This site was created by Elias Proctor. It was data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="images/eliasproctor.jpg" alt="">
    </div>
{{>footer}}